* {
-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body{
  margin: 0px;
  background-color: black;
  font-size: 20px;
}

.tabletsized {
  background-color: black;
  width: 1280px;
  height: 800px;
  position: absolute;
  font-size: 6rem
}

.info {
  font-size: 4rem
}

.speech {
  font-size: 6rem
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.levelbutton, .bigfriendlybutton {
  border-radius: 2rem;
  display: inline-block;
  width: 30rem;
  height: 10rem;
  background-color: blue;
  color: white;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3rem;
  font-style: normal;
  font-weight: bold;
  line-height: 5rem;
}

.levelbutton.clicked {
  background-color: grey;
}

.levelbutton.clicked.highlighted {
  background-color: darkblue;
}

#exit {
  width: 15rem;
  height: 6rem;
  font-size: 4rem;
  position: absolute;
  top: 0rem;
  right: 2rem;
  background-color: grey;
  color: white;
}

#biglabel {
    font-size: 30rem;
    color: white;
}

.active {
  color: green;
}
.activestatus {
  color: white;
}
.inactivestatus {
  color: grey;
}
.activeconfident {
  color: lightgreen;
}
.activenotconfident {
  color: magenta;
}
.inactive {
  color: red;
}
